{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}ZJU-ZSJ{% endblock %}

{% block page_content %}
<div class="page-header">
	<h2>The local date is {{ moment(current_time).format('LL') }}.</h2>
</div>
<div calss="container">
    <table class="table">
        <thead>
        <tr>
            <th>序号</th>
            <th>评论</th>
            <th>是否加精</th>
        </tr>
        </thead>
        {% for result in results %}
        <tbody>
        <td>{{ result.id }}</td>
        <td>{{ result.comment }}</td>
        <td>{{ result.verify }}</td>
        <td>
            <form method="POST">
                {{ form.hidden_tag() }}
                {{ form.submit() }}
                <div style="display:none">{{ form.id(value=result.id) }}</div>
                            <!-- 这里可能看不懂，我把返回id的文本框给隐藏了 -->
            </form>
        </td>
        </tbody>
        {% endfor %}
    </table>
</div>
{% endblock %}